html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: 100%;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto;
}

.icon-style {
    margin-bottom:4px;
    height:36px;
    width:41px;
}

.dashboard-tile {
    max-width: 18rem;
}
